<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="Inbördeskriget är över, och prisjägaren John “The Hangman” Ruth transporterar Daisy Domergue genom ett vintrigt Wyoming. Målet är den lilla staden Red Rock där Daisy ska ställas inför rätta. Längst med vägen plockar de upp två främlingar; Major Marquis Warren, tidigare soldat men nu ökänd prisjägare, och Chris Mannix, som utger sig för att vara Red Rocks nye sheriff. När en snöstorm sveper in över slätterna, bestämmer sig de fyra för att ta skydd på ett härbärge uppe i bergen. Väl där möts de inte av ägaren, utan av fyra okända ansikten. Stormen börjar vina över bergen, och de åtta resenärerna börjar inse att de kanske inte kommer att klara sig till Red Rock trots allt.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="https://www.themoviedb.org/movie/273248-the-hateful-eight" />
    <meta property="og:image" content="https://image.tmdb.org/t/p/w300_and_h450_bestv2/fqe8JxDNO8B8QfOGTdjh6sPCdSC.jpg" />

    <link rel="stylesheet" href="/assets/styles/layout.css">
  </head>
  <body>
    {{ content }}
    asd
  </body>
</html>
