<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <style>
    .text-columns{
      column-width: 20em;
      column-gap: 5em;
      column-rule: 1px solid #DDD;
    }
    </style>
  </head>
  <body>
    <section class="container mt-md-4">
      <div class="row">
        <h1 class="col-md-7">Tim Berners-Lee<hr /></h1>
      </div>
      <div class="row">
       <div class="col-md-8 col-lg-12">
         <p class="text-justify"><b>Sir Timothy “Tim” John Berners-Lee, KBE, FRS,</b><br /> född 8 juni 1955 i London i England, är skaparen av
          World Wide Web, en teknik som skapade förutsättningar
          för en bredare användning av Internet, och chef för
          World Wide Web Consortium.
        </p>
       </div>
       <div class="text-columns col-md-12 mt-md-5">
         <p class="text-justify">
           <p class="h4">Tidig karriär</p>
           <hr />
           Tim Berners-Lee tog kandidatexamen i fysik vid Queen’s
            College vid Oxfords universitet i England 1976. Han arbetade
            därefter med programmering för olika företag innan
            han blev konsult. Under sex månaders tid 1980 arbetade
            han som konsult vid CERN, där han för eget bruk
            skrev ett program kallat Enquire för informationslagring
            och associering, vilket blev grunden till den idé som skulle
            utvecklas till att bli World Wide Web.
          </p>
          <p class="text-justify">
            Efter några års arbete på annat håll antog Berners-Lee
            1984 en forskartjänst vid CERN för att arbeta med
            distribuerade realtidssystem för systemhantering och inhämtning
            av data.
          </p>

          <p class="text-justify mt-md-5">
            <span class="h4">World Wide Web</span>
            <hr />
            Året 1989 lade han fram ett förslag till ett globalt
             hypertextprojekt, World Wide Web, baserat på Enquire.
             Projektet inleddes följande år och var avsett att möjliggö-
             ra samarbete och kunskapsutbyte via ett nätverk av hypertextdokument.
           </p>
           <p class="text-justify">
             Han skrev den första webbservern, httpd, och den första
             webbläsaren (klienten), World Wide Web för Nextstep,
             som både kunde visa och redigera hypertext. Programmet
             gjordes först tillgängligt inom CERN och spreds sedan via
             Internet under 1991.
           </p>
           <p class="text-justify">
             Han fortsatte att arbeta med att förbättra de
             kommunikationsprotokoll och standarder som användes.
             1994 grundade han World Wide Web Consortium vid
             laboratoriet för datavetenskap vid Massachusetts Institute
             of Technology, och han har varit chef för konsortiet
             sedan dess grundande. 1999 blev han styrelseledamot vid
             laboratoriet, där han också har en tjänst som forskare.
             Han har skrivit boken Weaving the Web om webbens
             historia, nutid och framtid.
          </p>

          <p class="text-justify mt-md-5">
            <span class="h4">Erkännanden</span>
            <hr />
            <span class="lead">
              Tim Berners–Lee har erhållit en mängd honorärtitlar och
              utmärkelser för sitt livsverk
            </span>
           </p>
           <p class="text-justify">
             År 1997 blev han Officer i Brittiska Imperieorden. År
             2000 erhöll han Royal Medal. I april 2004 tilldelades han
             som första mottagare det finländska priset Millennium
             Technology Prize på en miljon euro av president Tarja
             Halonen. Den 16 juli samma år blev han dubbad till
             riddare (Knight Commander, den näst högsta graden i
             Brittiska Imperieorden) av drottning Elizabeth II.

           </p>
           <p class="text-justify">
             Han är ledamot i British Computer Society, IEEE och
             American Academy of Arts and Sciences. Han blev Fellow
             of the Royal Society 2001. Han har hederstitlar från
             Parsons School of Design i New York, Southampton
             University, Essex University, Southern Cross University,
             Open University, Columbia University, Oxford University
             och University of Port Elizabeth.
          </p>
          <p class="text-justify">
            År 2002 röstades han fram av den brittiska allmänheten
             till en av de 100 främsta britterna genom tiderna i en undersökning
             utförd av BBC. Han utsågs också till årets
             britt 2004. Time Magazine har utsett honom till en av
             1900-talets 100 mest inflytelserika personer. 2012 hedrades
             han som uppfinnaren bakom “World Wide Web”
             vid invigningen av de Olympiska Spelen i London.
         </p>
       </div>
       <div class="col-md-12 mt-sm-5">
         <div class="h4">Externa länkar</div>
         <hr />
         <ul>
           <li><a href="#">Biografi</a></li>
           <li><a href="#">Berners–Lee dubbad till riddare</a></li>
           <li><a href="#">Berners-Lee biography at the World Wide Web Consortium</a></li>
         </ul>
       </div>

     </div>
     <div class="row">

     </div>
    </section>
  </body>
</html>
